/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme) important;
@import 'tailwindcss/utilities.css' layer(utilities) important;
/* @plugin 'tailwindcss-animate'; */

/* @import 'tailwindcss'; */
/* @import 'tailwindcss/preflight'; */
/* @tailwind utilities; */

@custom-variant dark (&:is([data-theme="dark"] *));

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0241ff;
  --ifm-color-primary-dark: #003ae7;
  --ifm-color-primary-darker: #0036da;
  --ifm-color-primary-darkest: #002db4;
  --ifm-color-primary-light: #1c54ff;
  --ifm-color-primary-lighter: #295eff;
  --ifm-color-primary-lightest: #4f7bff;
  --docusaurus-highlighted-code-line-bg: #0000001a;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
:root[data-theme='dark'] {
  --ifm-color-primary: #a7c2f3;
  --ifm-color-primary-dark: #83a9ee;
  --ifm-color-primary-darker: #719cec;
  --ifm-color-primary-darkest: #3b77e4;
  --ifm-color-primary-light: #cbdbf8;
  --ifm-color-primary-lighter: #dde8fa;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgb(100, 100, 100);
}

.index-page {
  a {
    color: white;
  }
}

.header-github-link {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    background-color: var(--ifm-navbar-link-color);
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
    transition: background-color var(--ifm-transition-fast)
      var(--ifm-transition-timing-default);
  }

  &:hover::before {
    background-color: var(--ifm-navbar-link-hover-color);
  }
}

.nodejs-icon::before {
  content: '';
  width: 1em;
  margin-right: 0.25em;
  background: url('data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCj4KICAgIDxwYXRoCiAgICAgICAgZD0iTTg3NS4yIDI2Mi4zTDU0Ni43IDcyLjdjLTIwLjctMTEuOC00OC4zLTExLjgtNjkgMEwxNDguOCAyNjIuM2MtMjEuNSAxMi4yLTM0LjUgMzQuOS0zNC41IDU5Ljd2Mzc5LjJjMCAyNC44IDEzLjQgNDcuOSAzNC41IDYwLjFsODYuMSA0OS41YzQxLjggMjAuNyA1Ni44IDIwLjcgNzUuOSAyMC43IDYyLjEgMCA5Ny40LTM3LjggOTcuNC0xMDIuN1YzNTQuNGMwLTUuMy00LjEtOS4zLTkuMy05LjNoLTQxLjRjLTUuMyAwLTkuMyA0LjEtOS4zIDkuM3YzNzQuM2MwIDI4LjgtMzAgNTcuNy03OC44IDMzLjNsLTkwLjEtNTJjLTMuMi0yLTUuMy01LjMtNS4zLTguOVYzMjEuOWMwLTMuNyAyLTcuMyA1LjMtOC45bDMyOC4xLTE5MGMzLjItMS42IDcuMy0xLjYgMTAuMiAwbDMyOC41IDE4OS42YzMuMiAxLjYgNS4zIDUuMyA1LjMgOC45djM3OS4yYzAgMy43LTIgNy4zLTQuOSA4LjlMNTE3LjkgODk5LjNjLTIuOCAxLjYtNy4zIDEuNi0xMC4yIDBsLTg0LjQtNDkuOWMtMi40LTEuMi01LjctMS42LTguMS0wLjQtMjMuMSAxMy40LTI3LjYgMTUtNDkuNSAyMi43LTUuNyAxLjYtMTMuNCA0LjkgMi44IDE0LjJsMTA5LjYgNjVjMTAuNiA2LjEgMjIuMyA5LjMgMzQuNSA5LjMgMTEuOC0wLjQgMjQtMy4yIDM0LjEtOS43bDMyOC41LTE4OS42YzIxLjEtMTIuMiAzNC41LTM0LjkgMzQuNS01OS43VjMyMS45YzAtMjQuMy0xMy40LTQ3LjUtMzQuNS01OS42eiIKICAgICAgICBmaWxsPSIjNjg5RjYzIj48L3BhdGg+CiAgICA8cGF0aAogICAgICAgIGQ9Ik02MTQuMSA2NDEuMWMtODYuOSAwLTEwNi0yMS45LTExMi41LTY1LTAuOC00LjktNC41LTguMS05LjMtOC4xaC00Mi42Yy01LjMgMC05LjMgNC4xLTkuMyA5LjMgMCA1NS4yIDMwIDEyMS40IDE3My44IDEyMS40bC0wLjQtMC40YzEwMy45IDAgMTYzLjYtNDEgMTYzLjYtMTEyLjUgMC03MC42LTQ3LjktODkuNy0xNDktMTAzLjEtMTAxLjktMTMuNC0xMTIuNS0yMC4zLTExMi41LTQ0LjMgMC0xOS41IDguOS00NS45IDg0LjQtNDUuOSA2Ny44IDAgOTIuNiAxNC42IDEwMi43IDYwLjEgMS4yIDQuMSA0LjkgNy4zIDkuMyA3LjNINzU1YzIuNCAwIDUuMy0wLjggNi45LTIuOCAxLjYtMiAyLjgtNC41IDIuNC03LjMtNi45LTc4LjQtNTguOS0xMTQuOS0xNjQtMTE0LjktOTMuNCAwLTE0OS40IDM5LjQtMTQ5LjQgMTA1LjYgMCA3MS45IDU1LjYgOTEuOCAxNDUuOCAxMDAuNyAxMDcuNiAxMC42IDExNi4xIDI2LjQgMTE2LjEgNDcuNSAwIDM2LjUtMjkuMyA1Mi40LTk4LjcgNTIuNHoiCiAgICAgICAgZmlsbD0iIzY4OUY2MyI+PC9wYXRoPgo8L3N2Zz4=')
    no-repeat center center;
}

.python-icon::before {
  content: '';
  width: 1em;
  margin-right: 0.25em;
  background: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgPjxwYXRoIGQ9Ik00MjkuODI0IDEyOGMtNjAuNjcyIDAtMTA5LjgyNCA0OS4xNTItMTA5LjgyNCAxMDkuODI0djY0LjUxMmgxNjQuNzYxNmMxNC45NTA0IDAgMjcuMjM4NCAyMS45MTM2IDI3LjIzODQgMzYuODY0SDIzNy44MjRjLTYwLjY3MiAwLTEwOS44MjQgNDkuMTUyLTEwOS44MjQgMTA5LjgyNHYxNDUuMjAzMmMwIDYwLjY3MiA0OS4xNTIgMTA5LjgyNCAxMDkuODI0IDEwOS44MjRoNDUuMzEydi0xMDIuOTEyYzAtNjAuNjcyIDQ4Ljc5MzYtMTA5LjgyNCAxMDkuNDY1Ni0xMDkuODI0aDIwMS41NzQ0YTEwOS41MTY4IDEwOS41MTY4IDAgMCAwIDEwOS44NzUyLTEwOS40NjU2VjIzNy44MjRjMC02MC42NzItNDkuMTUyLTEwOS44MjQtMTA5Ljg3NTItMTA5LjgyNGgtMTY0LjM1MnogbS0yNy42NDggNjEuODQ5NmMxNS4zNiAwIDI3LjY0OCA0LjYwOCAyNy42NDggMjcuMjM4NCAwIDIyLjY4MTYtMTIuMjg4IDM0LjIwMTYtMjcuNjQ4IDM0LjIwMTYtMTQuOTUwNCAwLTI3LjIzODQtMTEuNTItMjcuMjM4NC0zNC4xNTA0IDAtMjIuNjgxNiAxMi4yODgtMjcuMjg5NiAyNy4yMzg0LTI3LjI4OTZ6IiBmaWxsPSIjM0M3OEFBIiA+PC9wYXRoPjxwYXRoIGQ9Ik03NDAuODY0IDMyMHYxMDIuOTEyYTEwOS40NjU2IDEwOS40NjU2IDAgMCAxLTEwOS40NjU2IDEwOS44MjRINDI5LjgyNGExMDkuNTE2OCAxMDkuNTE2OCAwIDAgMC0xMDkuODI0IDEwOS40MTQ0djE0NC4wMjU2QTEwOS44MjQgMTA5LjgyNCAwIDAgMCA0MjkuODI0IDg5NmgxNjQuMzUyYTEwOS44MjQgMTA5LjgyNCAwIDAgMCAxMDkuODI0LTEwOS43NzI4di02NC41MTJoLTE2NC43NjE2Yy0xNS4wMDE2IDAtMjcuMjM4NC0yMS45MTM2LTI3LjIzODQtMzYuODY0aDI3NC4xNzZhMTA5LjgyNCAxMDkuODI0IDAgMCAwIDEwOS44NzUyLTEwOS44NzUyVjQyOS44MjRhMTA5LjgyNCAxMDkuODI0IDAgMCAwLTEwOS44NzUyLTEwOS44MjRoLTQ1LjMxMnpNMzcwLjY4OCA0OTMuMzEybC0wLjE1MzYgMC4xNTM2YzAuNTEyLTAuMDUxMiAwLjk3MjggMCAxLjQ4NDgtMC4xNTM2SDM3MC42ODh6IG0yNTEuMTM2IDI3OS4zOTg0YzE1LjAwMTYgMCAyNy4yODk2IDExLjUyIDI3LjI4OTYgMzQuMjAxNmEyNy4yMzg0IDI3LjIzODQgMCAwIDEtMjcuMjg5NiAyNy4yMzg0Yy0xNS4zNiAwLTI3LjY0OC00LjYwOC0yNy42NDgtMjcuMjM4NCAwLTIyLjY4MTYgMTIuMjg4LTM0LjIwMTYgMjcuNjQ4LTM0LjIwMTZ6IiBmaWxsPSIjRkREODM1IiA+PC9wYXRoPjwvc3ZnPg==')
    no-repeat center center;
}

.markdown > img,
figure > img {
  [data-theme='dark'] & {
    filter: brightness(0.7);
  }
}

.img-with-caption {
  display: block;
  text-align: center;

  & > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 30vh;
  }

  & > figcaption.img-alt-text {
    display: block;
    font-size: 0.8em;
    color: #666;
    text-align: center;
    opacity: 0.95;

    [data-theme='dark'] & {
      color: #aaa;
    }
  }
}

.highlight-code-block-error-line {
  --highlight-color: #e1353b;
}

.highlight-code-block-success-line {
  --highlight-color: #009202;
}

.highlight-code-block-warning-line {
  --highlight-color: #e6a80b;
}

.highlight-code-block-info-line {
  --highlight-color: #52b5d6;
}

.highlight-code-block-add-line,
.highlight-code-block-remove-line {
  /* --highlight-color: #069205; */
  border-left: 0 !important;
  padding-left: 0.25em !important;

  &::before {
    margin-right: 0.25em;
  }
}

.highlight-code-block-add-line {
  background-color: #dafae0 !important;

  [data-theme='dark'] & {
    background-color: #29523c !important;
  }

  &::before {
    content: '+';
  }
}

.highlight-code-block-remove-line {
  background-color: #ffeae8 !important;

  [data-theme='dark'] & {
    background-color: #5c2330 !important;
  }

  &::before {
    content: '-';
  }
}

.highlight-code-block-blur-line {
  --highlight-color: #d4d5d8;
  background: none !important;
}

.highlight-code-block-blur-line {
  .token {
    opacity: 0.5;
    filter: blur(2px);
    transition: all 0.2s ease-in-out;
  }
}

.highlight-code-block-blur-line:hover,
.highlight-code-block-blur-line:hover ~ .highlight-code-block-blur-line,
.highlight-code-block-blur-line:has(~ .highlight-code-block-blur-line:hover) {
  .token {
    opacity: 1;
    filter: blur(0);
    cursor: pointer;
  }
}

/* 不能和上面合并，有优先级要求 */
.highlight-code-block-blur-line:hover
  ~ :not(.highlight-code-block-blur-line)
  ~ .highlight-code-block-blur-line,
.highlight-code-block-blur-line:has(
  ~ :not(.highlight-code-block-blur-line)
    ~ .highlight-code-block-blur-line:hover
) {
  .token {
    opacity: 0.5;
    filter: blur(2px);
    transition: all 0.2s ease-in-out;
  }
}

div[class*='codeBlockContent'] {
  max-height: 30vh;
  overflow: auto;

  [class*='highlight-code-block'] {
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
    padding-left: calc(1em - 3px);
    border-left-width: 3px;
    border-left-style: solid;
    background-color: rgb(from var(--highlight-color) r g b / 0.125);
    border-left-color: var(--highlight-color);
  }
}

.split2,
.split3,
.split4 {
  display: flex;
}

.split2 > * {
  flex: 1 1 50%;
}
.split3 > * {
  flex: 1 1 33%;
}
.split4 > * {
  flex: 1 1 25%;
}
